
@{
    ViewBag.Title = "Gioithieu";
}

<!--Trang giới thiệu-->
<section class="gioithieu col-xs-12 col-sm-12 col-md-offset-1 col-md-10 col-lg-offset-1 col-lg-10">

    <!--Bài viết-->
    <article class="baiviet col-xs-12 col-sm-12 col-md-8 col-lg-8">

        <!--Ảnh trong bài-->
        <img src="~/Content/images/anhbaiviet/gioithieu-1.png" alt="" class="img-responsive" />

        <!--Phần nội dung-->
        <p class="content">
            SKYLINE là công ty hoạt động trong lĩnh vực thương mại điện tử – chuyên cung cấp dịch vụ vé máy bay trực tuyến của các hãng hàng không nội địa và quốc tế.
            SKYLINE có hệ thống Đặt Vé Máy Bay Trực Tuyến tại website phongvemaybayskyline.com với các chức năng:
            Tìm kiếm hành trình bay,
            so sánh giá vé của các hãng hàng không,
            đặt vé trên website và Thanh toán trực tuyến.
        </p>
        <p class="content">
            Chúng tôi cung cấp dịch vụ máy bay giá rẻ trong nước và quốc tế. Cung cấp dịch vụ xe ô tô du lịch và xe đưa đón sân bay với chất lượng hoàn hảo nhất.
        </p>
        <p class="content">
            Hiện nay phongveskyline.com đang là website đặt vé máy bay trực tuyến hàng đầu tại Hải Phòng,
            đồng thời cũng là tổng đại lý phân phối vé máy bay chính thức cho các hãng hàng không trên toàn quốc.
        </p>
        <ul>
            <li>Cung cấp vé máy bay giá rẻ trong nước và quốc tế</li>
            <li>Đón tiễn sân bay</li>
            <li>Hỗ trợ đặt phòng khách sạn toàn quốc.</li>
            <li>Tổ chức tour du lịch trong và ngoài nước.</li>
            <li>Đại lý Độc quyền Tour Hàn Quốc tại Hải Phòng.</li>
        </ul>

        <!--Ảnh trong bài-->
        <img src="~/Content/images/anhbaiviet/gioithieu-2.png" alt="" class="img-responsive" />

        <!--Thông tin công ty-->
        <p class="info">
            <span class="bold uppercase">PHÒNG VÉ SKYLINE</span><br />
            <span class="bold">Địa chỉ: </span>Số 1 lô 22 Lê Hồng Phong, Cát Bi, Hải Phòng. <br />
            <span class="bold">Điện thoại: </span>0313.611.158 <br />
            <span class="red">
                <span class="bold">Hotline:</span> 0906.028211 / 0981.200288
            </span>
        </p>
    </article>

    <!--Tìm kiếm chuyến bay - Tin Khuyến Mại-->
    <aside class="col-xs-12 col-sm-12 col-md-4 col-lg-4">

        <!--Tìm chuyến bay-->
        <div class="timchuyenbay col-xs-12 col-sm-12 col-md-12 col-lg-12">

            <!--Tiêu đề-->
            <div class="title row">
                <img src="~/Content/images/icon/plane-icon.png" alt="" class="pull-left" />
                <p>Đặt vé máy bay</p>
            </div>

            <!--Thông tin tìm kiếm-->
            <div class="info row">

                <!--Radio button chọn loại vé-->
                <form class="loaive col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <input type="radio" name="loaive" value="khuhoi" class="pull-left" checked /><p class="pull-left">Khứ hồi</p>
                    <input type="radio" name="loaive" value="motchieu" class="pull-left" /><p class="pull-left">Một chiều</p>
                </form>

                <!--Nhập địa điểm-->
                <form class="diadiem col-xs-12 col-sm-12 col-md-12 col-lg-12">

                    <!--Điểm đi-->
                    <div class="row">
                        <p class="pull-left">Điểm đi</p>
                        <input type="text" placeholder="Nhập tên hoặc mã thành phố đi" value="" class="form-control" />
                    </div>

                    <!--Điểm đến-->
                    <div class="row">
                        <p class="pull-left">Điểm đến</p>
                        <input type="text" placeholder="Nhập tên hoặc mã thành phố đến" value="" class="form-control" />
                    </div>
                </form>

                <!--Thời gian-->
                <form class="thoigian col-xs-12 col-sm-12 col-md-12 col-lg-12">

                    <!--Ngày đi-->
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 pull-left">
                        <p class="pull-left">Ngày đi</p>
                        <select class="form-control">
                            <option>15/11/2016</option>
                            <option>16/11/2016</option>
                            <option>17/11/2016</option>
                            <option>18/11/2016</option>
                            <option>19/11/2016</option>
                        </select>
                    </div>

                    <!--Ngày về-->
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 ngayve">
                        <p class="pull-left">Ngày về</p>
                        <select class="form-control pull-left">
                            <option>16/11/2016</option>
                            <option>17/11/2016</option>
                            <option>18/11/2016</option>
                            <option>19/11/2016</option>
                            <option>20/11/2016</option>
                        </select>
                    </div>
                </form>

                <!--Số lượng vé-->
                <form class="soluong col-xs-12 col-sm-12 col-md-12 col-lg-12">

                    <!--Vé cho người lớn-->
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                        <p>Người lớn</p>
                        <select class="form-control">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>

                    <!--Vé cho người lớn-->
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 treem">
                        <p>Trẻ em (2-11)</p>
                        <select class="form-control">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>

                    <!--Vé cho người lớn-->
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 embe">
                        <p>Em bé (< 2)</p>
                        <select class="form-control">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                </form>

                <!--Nút tìm vé máy bay-->
                <button type="submit">
                    <img src="~/Content/images/icon/search-flights.png" alt="" class="img-responsive pull-left" />
                    <p>Tìm kiếm chuyến bay</p>
                </button>
            </div>
        </div>

        <!--Tin khuyến mại-->
        <div class="khuyenmai col-xs-12 col-sm-12 col-md-12 col-lg-12">

            <!--Tiêu đề-->
            <p class="title col-xs-12 col-sm-12 col-md-12 col-lg-12">
                Tin khuyến mại
            </p>

            <!--Nội dung-->
            <div class="content col-xs-12 col-sm-12 col-md-12 col-lg-12">

                <!--Từng tin-->
                <div class="col-xs-12 col-sm-6 col-md-12 col-lg-12">

                    <!--Tiêu đề-->
                    <a href="#" class="title">
                        Vi vu Đài Bắc dịp cuối năm cùng loạt vé Vietnam Airlines chỉ từ 250 USD khứ hồi.
                    </a>

                    <!--Tóm tắt-->
                    <div class="detail">
                        <img src="~/Content/images/anhbaiviet/ava.png" alt="" class="img-responsive pull-left" />
                        <p>Những tháng cuối năm với dịp lễ Giáng sinh và Tết dương lịch vô cùng sôi động sẽ là thời điểm tuyệt vời để bạn lên kế hoạch cho những chuyến du lịch hứa hẹn...</p>
                    </div>
                </div>

                <!--Từng tin-->
                <div class="col-xs-12 col-sm-6 col-md-12 col-lg-12">

                    <!--Tiêu đề-->
                    <a href="#" class="title">
                        Vi vu Đài Bắc dịp cuối năm cùng loạt vé Vietnam Airlines chỉ từ 250 USD khứ hồi.
                    </a>

                    <!--Tóm tắt-->
                    <div class="detail">
                        <img src="~/Content/images/anhbaiviet/ava.png" alt="" class="img-responsive pull-left" />
                        <p>Những tháng cuối năm với dịp lễ Giáng sinh và Tết dương lịch vô cùng sôi động sẽ là thời điểm tuyệt vời để bạn lên kế hoạch cho những chuyến du lịch hứa hẹn...</p>
                    </div>
                </div>

                <!--Từng tin-->
                <div class="col-xs-12 col-sm-6 col-md-12 col-lg-12">

                    <!--Tiêu đề-->
                    <a href="#" class="title">
                        Vi vu Đài Bắc dịp cuối năm cùng loạt vé Vietnam Airlines chỉ từ 250 USD khứ hồi.
                    </a>

                    <!--Tóm tắt-->
                    <div class="detail">
                        <img src="~/Content/images/anhbaiviet/ava.png" alt="" class="img-responsive pull-left" />
                        <p>Những tháng cuối năm với dịp lễ Giáng sinh và Tết dương lịch vô cùng sôi động sẽ là thời điểm tuyệt vời để bạn lên kế hoạch cho những chuyến du lịch hứa hẹn...</p>
                    </div>
                </div>

                <!--Từng tin-->
                <div class="col-xs-12 col-sm-6 col-md-12 col-lg-12">

                    <!--Tiêu đề-->
                    <a href="#" class="title">
                        Vi vu Đài Bắc dịp cuối năm cùng loạt vé Vietnam Airlines chỉ từ 250 USD khứ hồi.
                    </a>

                    <!--Tóm tắt-->
                    <div class="detail">
                        <img src="~/Content/images/anhbaiviet/ava.png" alt="" class="img-responsive pull-left" />
                        <p>Những tháng cuối năm với dịp lễ Giáng sinh và Tết dương lịch vô cùng sôi động sẽ là thời điểm tuyệt vời để bạn lên kế hoạch cho những chuyến du lịch hứa hẹn...</p>
                    </div>
                </div>
            </div>
        </div>
    </aside>
</section>