
@{
    ViewBag.Title = "Tintuc";
}

<!--Trang tin tức-->
<section class="tintuc col-xs-12 col-sm-12 col-md-offset-1 col-md-10 col-lg-offset-1 col-lg-10">

    <!--Danh sách bài viết-->
    <article class="danhsachbaiviet col-xs-12 col-sm-12 col-md-8 col-lg-8">

        <!--Số trang-->
        <nav aria-label="Page navigation" class="hidden-xs hidden-sm">
            <ul class="pagination">
                <li>
                    <a href="#" class="previous">
                        Quay lại
                    </a>
                </li>
                <li class="active"><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li>
                    <a href="#" class="next">
                        Tiếp theo
                    </a>
                </li>
            </ul>
        </nav>

        <!--Danh sách-->
        <article class="list col-xs-12 col-sm-12 col-md-12 col-lg-12">

            <!--Từng bài viết-->
            <div class="topic col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <img src="~/Content/images/anhbaiviet/ava-baiviet.png" alt="" class="col-xs-12 col-sm-4 col-md-4 col-lg-4 pull-left img-responsive" />
                <div class="info col-xs-12 col-sm-8 col-md-8 col-lg-8 pull-right">
                    <a href="#" class="title col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        Đón “đại tiệc” vé rẻ cuối năm đến từ “BAY ĐẲNG CẤP, GIÁ CỰC THẤP” của Vietnam Airlines
                    </a>
                    <p class="ngaydang col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        Ngày 15 tháng 11 năm 2016
                    </p>
                    <p class="detail col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        Như thường lệ, vào mỗi thứ ba hàng tuần, “BAY ĐẲNG CẤP, GIÁ CỰC THẤP” của Vietnam Airlines lại lên sóng,
                        mang đến cho du khách loạt vé máy bay giá siêu hấp dẫn trên nhiều hành trình nội địa cực “hot” hiện nay.
                        Hãy cùng ABAY.vn thưởng thức bữa “đại tiệc” vé rẻ dịp cuối năm và nhanh tay đặt vé ngay bạn nhé.
                    </p>
                </div>
            </div>

            <!--Từng bài viết-->
            <div class="topic col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <img src="~/Content/images/anhbaiviet/ava-baiviet.png" alt="" class="col-xs-12 col-sm-4 col-md-4 col-lg-4 pull-left img-responsive" />
                <div class="info col-xs-12 col-sm-8 col-md-8 col-lg-8 pull-right">
                    <a href="#" class="title col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        Đón “đại tiệc” vé rẻ cuối năm đến từ “BAY ĐẲNG CẤP, GIÁ CỰC THẤP” của Vietnam Airlines
                    </a>
                    <p class="ngaydang col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        Ngày 15 tháng 11 năm 2016
                    </p>
                    <p class="detail col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        Như thường lệ, vào mỗi thứ ba hàng tuần, “BAY ĐẲNG CẤP, GIÁ CỰC THẤP” của Vietnam Airlines lại lên sóng,
                        mang đến cho du khách loạt vé máy bay giá siêu hấp dẫn trên nhiều hành trình nội địa cực “hot” hiện nay.
                        Hãy cùng ABAY.vn thưởng thức bữa “đại tiệc” vé rẻ dịp cuối năm và nhanh tay đặt vé ngay bạn nhé.
                    </p>
                </div>
            </div>

            <!--Từng bài viết-->
            <div class="topic col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <img src="~/Content/images/anhbaiviet/ava-baiviet.png" alt="" class="col-xs-12 col-sm-4 col-md-4 col-lg-4 pull-left img-responsive" />
                <div class="info col-xs-12 col-sm-8 col-md-8 col-lg-8 pull-right">
                    <a href="#" class="title col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        Đón “đại tiệc” vé rẻ cuối năm đến từ “BAY ĐẲNG CẤP, GIÁ CỰC THẤP” của Vietnam Airlines
                    </a>
                    <p class="ngaydang col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        Ngày 15 tháng 11 năm 2016
                    </p>
                    <p class="detail col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        Như thường lệ, vào mỗi thứ ba hàng tuần, “BAY ĐẲNG CẤP, GIÁ CỰC THẤP” của Vietnam Airlines lại lên sóng,
                        mang đến cho du khách loạt vé máy bay giá siêu hấp dẫn trên nhiều hành trình nội địa cực “hot” hiện nay.
                        Hãy cùng ABAY.vn thưởng thức bữa “đại tiệc” vé rẻ dịp cuối năm và nhanh tay đặt vé ngay bạn nhé.
                    </p>
                </div>
            </div>

            <!--Từng bài viết-->
            <div class="topic col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <img src="~/Content/images/anhbaiviet/ava-baiviet.png" alt="" class="col-xs-12 col-sm-4 col-md-4 col-lg-4 pull-left img-responsive" />
                <div class="info col-xs-12 col-sm-8 col-md-8 col-lg-8 pull-right">
                    <a href="#" class="title col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        Đón “đại tiệc” vé rẻ cuối năm đến từ “BAY ĐẲNG CẤP, GIÁ CỰC THẤP” của Vietnam Airlines
                    </a>
                    <p class="ngaydang col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        Ngày 15 tháng 11 năm 2016
                    </p>
                    <p class="detail col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        Như thường lệ, vào mỗi thứ ba hàng tuần, “BAY ĐẲNG CẤP, GIÁ CỰC THẤP” của Vietnam Airlines lại lên sóng,
                        mang đến cho du khách loạt vé máy bay giá siêu hấp dẫn trên nhiều hành trình nội địa cực “hot” hiện nay.
                        Hãy cùng ABAY.vn thưởng thức bữa “đại tiệc” vé rẻ dịp cuối năm và nhanh tay đặt vé ngay bạn nhé.
                    </p>
                </div>
            </div>

            <!--Từng bài viết-->
            <div class="topic col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <img src="~/Content/images/anhbaiviet/ava-baiviet.png" alt="" class="col-xs-12 col-sm-4 col-md-4 col-lg-4 pull-left img-responsive" />
                <div class="info col-xs-12 col-sm-8 col-md-8 col-lg-8 pull-right">
                    <a href="#" class="title col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        Đón “đại tiệc” vé rẻ cuối năm đến từ “BAY ĐẲNG CẤP, GIÁ CỰC THẤP” của Vietnam Airlines
                    </a>
                    <p class="ngaydang col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        Ngày 15 tháng 11 năm 2016
                    </p>
                    <p class="detail col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        Như thường lệ, vào mỗi thứ ba hàng tuần, “BAY ĐẲNG CẤP, GIÁ CỰC THẤP” của Vietnam Airlines lại lên sóng,
                        mang đến cho du khách loạt vé máy bay giá siêu hấp dẫn trên nhiều hành trình nội địa cực “hot” hiện nay.
                        Hãy cùng ABAY.vn thưởng thức bữa “đại tiệc” vé rẻ dịp cuối năm và nhanh tay đặt vé ngay bạn nhé.
                    </p>
                </div>
            </div>

        </article>

        <!--Số trang-->
        <nav aria-label="Page navigation">
            <ul class="pagination">
                <li>
                    <a href="#" class="previous">
                        Quay lại
                    </a>
                </li>
                <li class="active"><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li>
                    <a href="#" class="next">
                        Tiếp theo
                    </a>
                </li>
            </ul>
        </nav>

    </article>

    <!--Tìm kiếm chuyến bay - Tin Khuyến Mại-->
    <aside class="col-xs-12 col-sm-12 col-md-4 col-lg-4">

        <!--Tìm chuyến bay-->
        <div class="timchuyenbay col-xs-12 col-sm-12 col-md-12 col-lg-12">

            <!--Tiêu đề-->
            <div class="title row">
                <img src="~/Content/images/icon/plane-icon.png" alt="" class="pull-left" />
                <p>Đặt vé máy bay</p>
            </div>

            <!--Thông tin tìm kiếm-->
            <div class="info row">

                <!--Radio button chọn loại vé-->
                <form class="loaive col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <input type="radio" name="loaive" value="khuhoi" class="pull-left" checked /><p class="pull-left">Khứ hồi</p>
                    <input type="radio" name="loaive" value="motchieu" class="pull-left" /><p class="pull-left">Một chiều</p>
                </form>

                <!--Nhập địa điểm-->
                <form class="diadiem col-xs-12 col-sm-12 col-md-12 col-lg-12">

                    <!--Điểm đi-->
                    <div class="row">
                        <p class="pull-left">Điểm đi</p>
                        <input type="text" placeholder="Nhập tên hoặc mã thành phố đi" value="" class="form-control" />
                    </div>

                    <!--Điểm đến-->
                    <div class="row">
                        <p class="pull-left">Điểm đến</p>
                        <input type="text" placeholder="Nhập tên hoặc mã thành phố đến" value="" class="form-control" />
                    </div>
                </form>

                <!--Thời gian-->
                <form class="thoigian col-xs-12 col-sm-12 col-md-12 col-lg-12">

                    <!--Ngày đi-->
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 pull-left">
                        <p class="pull-left">Ngày đi</p>
                        <select class="form-control">
                            <option>15/11/2016</option>
                            <option>16/11/2016</option>
                            <option>17/11/2016</option>
                            <option>18/11/2016</option>
                            <option>19/11/2016</option>
                        </select>
                    </div>

                    <!--Ngày về-->
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 ngayve">
                        <p class="pull-left">Ngày về</p>
                        <select class="form-control pull-left">
                            <option>16/11/2016</option>
                            <option>17/11/2016</option>
                            <option>18/11/2016</option>
                            <option>19/11/2016</option>
                            <option>20/11/2016</option>
                        </select>
                    </div>
                </form>

                <!--Số lượng vé-->
                <form class="soluong col-xs-12 col-sm-12 col-md-12 col-lg-12">

                    <!--Vé cho người lớn-->
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                        <p>Người lớn</p>
                        <select class="form-control">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>

                    <!--Vé cho người lớn-->
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 treem">
                        <p>Trẻ em (2-11)</p>
                        <select class="form-control">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>

                    <!--Vé cho người lớn-->
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 embe">
                        <p>Em bé (< 2)</p>
                        <select class="form-control">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                </form>

                <!--Nút tìm vé máy bay-->
                <button type="submit">
                    <img src="~/Content/images/icon/search-flights.png" alt="" class="img-responsive pull-left" />
                    <p>Tìm kiếm chuyến bay</p>
                </button>
            </div>
        </div>

        <!--Tin khuyến mại-->
        <div class="khuyenmai col-xs-12 col-sm-12 col-md-12 col-lg-12">

            <!--Tiêu đề-->
            <p class="title col-xs-12 col-sm-12 col-md-12 col-lg-12">
                Tin khuyến mại
            </p>

            <!--Nội dung-->
            <div class="content col-xs-12 col-sm-12 col-md-12 col-lg-12">

                <!--Từng tin-->
                <div class="col-xs-12 col-sm-6 col-md-12 col-lg-12">

                    <!--Tiêu đề-->
                    <a href="#" class="title">
                        Vi vu Đài Bắc dịp cuối năm cùng loạt vé Vietnam Airlines chỉ từ 250 USD khứ hồi.
                    </a>

                    <!--Tóm tắt-->
                    <div class="detail">
                        <img src="~/Content/images/anhbaiviet/ava.png" alt="" class="img-responsive pull-left" />
                        <p>Những tháng cuối năm với dịp lễ Giáng sinh và Tết dương lịch vô cùng sôi động sẽ là thời điểm tuyệt vời để bạn lên kế hoạch cho những chuyến du lịch hứa hẹn...</p>
                    </div>
                </div>

                <!--Từng tin-->
                <div class="col-xs-12 col-sm-6 col-md-12 col-lg-12">

                    <!--Tiêu đề-->
                    <a href="#" class="title">
                        Vi vu Đài Bắc dịp cuối năm cùng loạt vé Vietnam Airlines chỉ từ 250 USD khứ hồi.
                    </a>

                    <!--Tóm tắt-->
                    <div class="detail">
                        <img src="~/Content/images/anhbaiviet/ava.png" alt="" class="img-responsive pull-left" />
                        <p>Những tháng cuối năm với dịp lễ Giáng sinh và Tết dương lịch vô cùng sôi động sẽ là thời điểm tuyệt vời để bạn lên kế hoạch cho những chuyến du lịch hứa hẹn...</p>
                    </div>
                </div>

                <!--Từng tin-->
                <div class="col-xs-12 col-sm-6 col-md-12 col-lg-12">

                    <!--Tiêu đề-->
                    <a href="#" class="title">
                        Vi vu Đài Bắc dịp cuối năm cùng loạt vé Vietnam Airlines chỉ từ 250 USD khứ hồi.
                    </a>

                    <!--Tóm tắt-->
                    <div class="detail">
                        <img src="~/Content/images/anhbaiviet/ava.png" alt="" class="img-responsive pull-left" />
                        <p>Những tháng cuối năm với dịp lễ Giáng sinh và Tết dương lịch vô cùng sôi động sẽ là thời điểm tuyệt vời để bạn lên kế hoạch cho những chuyến du lịch hứa hẹn...</p>
                    </div>
                </div>

                <!--Từng tin-->
                <div class="col-xs-12 col-sm-6 col-md-12 col-lg-12">

                    <!--Tiêu đề-->
                    <a href="#" class="title">
                        Vi vu Đài Bắc dịp cuối năm cùng loạt vé Vietnam Airlines chỉ từ 250 USD khứ hồi.
                    </a>

                    <!--Tóm tắt-->
                    <div class="detail">
                        <img src="~/Content/images/anhbaiviet/ava.png" alt="" class="img-responsive pull-left" />
                        <p>Những tháng cuối năm với dịp lễ Giáng sinh và Tết dương lịch vô cùng sôi động sẽ là thời điểm tuyệt vời để bạn lên kế hoạch cho những chuyến du lịch hứa hẹn...</p>
                    </div>
                </div>
            </div>
        </div>
    </aside>
</section>